@import '~bootstrap/scss/bootstrap';

$red: #ff0000;
$yellow: #ffff00;

.box {
  align-items: center;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  color: $red;
  display: flex;
  font-size: 14vw;
  height: 25vh;
  justify-content: center;
  width: 25vh;

  &:hover {
    background-color: $yellow;
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .box {
    font-size: 14vw;
    height: 5vh;
    width: 10vh;
  }
}

@media only screen and (max-width: 450px) {
  body {
    background-color: lightgray;
  }

  .box {
    font-size: 14vw;
    height: 3vh;
    width: 5vh;
  }
}
